on property:persist.com.miui.rsa_region=th && property:ro.miui.customized_clientid=2 && property:ro.miui.build.region=global && property:ro.miui.customized.region=
    setprop ro.com.miui.rsa tier2
    setprop ro.com.google.clientidbase android-xiaomi
    setprop ro.com.google.clientidbase.ms android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.vs android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.tx android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.pg android-xiaomi-deo3

on property:persist.com.miui.rsa_region=vn && property:ro.miui.customized_clientid=2 && property:ro.miui.build.region=global && property:ro.miui.customized.region=
    setprop ro.com.miui.rsa tier2
    setprop ro.com.google.clientidbase android-xiaomi
    setprop ro.com.google.clientidbase.ms android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.vs android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.tx android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.pg android-xiaomi-deo3

on property:persist.com.miui.rsa_region=my && property:ro.miui.customized_clientid=2 && property:ro.miui.build.region=global && property:ro.miui.customized.region=
    setprop ro.com.miui.rsa tier2
    setprop ro.com.google.clientidbase android-xiaomi
    setprop ro.com.google.clientidbase.ms android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.vs android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.tx android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.pg android-xiaomi-deo3

on property:persist.com.miui.rsa_region=ph && property:ro.miui.customized_clientid=2 && property:ro.miui.build.region=global && property:ro.miui.customized.region=
    setprop ro.com.miui.rsa tier2
    setprop ro.com.google.clientidbase android-xiaomi
    setprop ro.com.google.clientidbase.ms android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.vs android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.tx android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.pg android-xiaomi-deo3

on property:ro.miui.cust_variant=* && property:ro.miui.customized_clientid=2 && property:persist.com.miui.rsa_region=""
    setprop ro.com.miui.rsa tier1
    setprop ro.com.google.clientidbase android-xiaomi
    setprop ro.com.google.clientidbase.ms android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.vs android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.tx android-xiaomi-terr1-rso3
    setprop ro.com.google.clientidbase.pg android-xiaomi-deo3
